---
image: gg.jpg
description: Election result of Galkot Municipality, Baglung, Nepali Congress, UML, Janamorcha, Naya Shakti | Nepal Local Election
---
<!DOCTYPE html>
<html>
<head>
	
<meta charset="utf-8">
  
  <meta property="op:markup_version" content="v1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>स्थानिय चुनाव २०७४ विशेष  | गल्कोट न. पा को मत परिणाम Galkot Municipality Baglung  Election Result Nepal</title>
  

  <meta property="fb:app_id" content="293571141079302">
  <meta name="description" content="Galkot local election live voting result of Nepali Congress, UML, naya shakti and janamorcha, Galkot Municipality, Baglung">
  <meta name="keywords" content="Galkot, Baglung, News from Galkot, election, Harichaur, GalkotNews, nepal, congress, voting, dhorpatan">

  
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


<meta property="fb:pages" content="362192520548788" />
<meta property="fb:article_style" content="myarticlestyle">


<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@ourgalkot" />
<meta name="twitter:creator" content="@officialgalkot">
<meta name="twitter:card" content="summary">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

	 <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet"> 
	<style type="text/css">


		
		body {


    font-family: 'Sarala', sans-serif;

			font-size: 18px;
		}

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			
			border: 1px solid black;

		}
	</style>

{% seo %}

</head>

<body>

<div class="container">

{% include header.html %}


<h1 align="center">स्थानिय चुनाव २०७४ विशेष | गल्कोट न. पा को मत परिणाम Galkot Municipality Baglung  Election Result Nepal by ourgalkot.com</h1>

<div class="fb-like" data-href class="post-link" href="/election" {{ post.url }} data-width="300px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" >
  </div>
		 	 
<div class="fb-save" data-uri="/election" data-size="small"></div><br>

<div style="border: 0.5px solid black; border-radius: 5px;" class="alert-alert-success">	 

<div class="row">
  <div class="col-md-6">
    <table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>वडा </th>
        <th></th>
        <th>विजयी दल </th>
        <th>अध्यक्ष </th>
        
      </tr>
    

      
    </thead>
    <tbody>

    <tr>
        <td>१</td>
       
        <td><img src="uml.jpg"></td>
        <td>एमाले/ जनमोर्चा संयुक्त </td>
        <td>नेत्र बुढाथोकी</td>
      </tr>
      <tr>
        <td>२</td>
       
        <td><img src="congress.jpg"></td>
        <td>नेपाली कांग्रेस</td>
        <td>हेमन्त भण्डारी </td>
      </tr>

      <tr>
        <td>३</td>
       
        <td><img src="congress.jpg"></td>
        <td>नेपाली कांग्रेस</td>
        <td>विरजंग भण्डारी</td>
      </tr>

      <tr>
        <td>४</td>
       <td><img src="congress.jpg"></td>
        <td>नेपाली कांग्रेस</td>
        <td>बल बहादुर खत्री</td>
      </tr>

      <tr>
        <td>५</td>
       <td><img src="congress.jpg"></td>
        <td>नेपाली कांग्रेस</td>
        <td>नारायणध्वज मल्ल</td>
      </tr>

      <tr>
        <td>६</td>
        <td><img src="maoist.jpg"></td>
        <td>माअाेवादि केन्द्र </td>
        <td>नरबहादुर खत्री</td>
      </tr>

      <tr>
        <td>७</td>
       <td><img src="maoist.jpg"></td>
        <td>माअाेवादि केन्द्र </td>
        <td>टिकाबहादुर थापा</td>
      </tr>

       <tr>
        <td>८</td>
       <td><img src="congress.jpg"></td>
        <td>नेपाली कांग्रेस</td>
        <td>राम प्रसाद कडेल</td>
      </tr>

      <tr>
        <td>९</td>
       <td><img src="congress.jpg"></td>
        <td>नेपाली कांग्रेस</td>
        <td>तेज़ बहादुर थापा</td>
      </tr>

<tr>
        <td>१०</td>
          <td><img src="congress.jpg"></td>
        <td>नेपाली कांग्रेस</td>
        <td>तिलक वहादुर घर्ती</td>
      </tr>
      <tr>
        <td>११</td>
       <td><img src="uml.jpg"> </td>
                <td>एमाले/ जनमोर्चा संयुक्त </td>
        <td>डम्बर श्रीस</td>
        
      </tr>



      </tbody>
      </table>
  </div>

  <div class="col-md-6 alert-alert-danger">
  <b><i class="fa fa-fire" aria-hidden="true"></i>Hot Updates</b> <br><hr>

  {% for post in site.posts limit: 12 %}

    {% if post.feature == true %}

    <a href="{{ post.url | prepend: site.baseurl }}"> <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{ post.title }}</a><br>
     {% endif %}
    {% endfor %}
  </div>
</div>
</div>

<br>


<br>
<div style="border: 0.5px solid green; border-radius: 5px;">
<ul>
Quick Links
<li><a href="#1">गल्कोट न. पा १</a></li>
<li><a href="#2">गल्कोट न. पा २</a></li>
<li><a href="#3">गल्कोट न. पा ३</a></li> 
<li><a href="#4">गल्कोट न. पा ४</a></li>
<li><a href="#5">गल्कोट न. पा ५</a></li>
<li><a href="#6">गल्कोट न. पा ६</a></li>
<li><a href="#7">गल्कोट न. पा ७</a></li>
<li><a href="#8">गल्कोट न. पा ८</a></li>
<li><a href="#9">गल्कोट न. पा ९</a></li>
<li><a href="#10">गल्कोट न. पा १०</a></li>
<li><a href="#11">गल्कोट न. पा ११</a></li>



<li><a href="#candidate">गलकोट नगरपालिकाका उम्मेदवारको सुची  </a></li>
<li><a href="#data">पूर्ण तथ्यांक </a></li>
</div>

क्षेत्र छनोट गर्नुहोस: 
 <ul class="nav nav-pills">
  <li class="active"><a href="#">१</a></li>
  <li><a href="#2">२</a></li>
  <li><a href="#3">३</a></li>
  <li><a href="#4">४</a></li>
<li><a href="#5">५</a></li>
<li><a href="#6">६</a></li>
<li><a href="#7">७</a></li>
<li><a href="#8">८</a></li>
<li><a href="#9">९</a></li>
<li><a href="#10">१०</a></li>
<li><a href="#11">११</a></li>

     
</ul> 


{% include chart.html %} 

<a name="mayor"></a> 
{% include mayor.html %}

<a name="1"></a>
{% include 1.html %}



<a name="2"></a>
{% include 2.html %} 

<a name="3"></a>
{% include 3.html %} 

<a name="4"></a>
{% include 4.html %} 

<a name="5"></a>
{% include 5.html %} 

<a name="6"></a>
{% include 6.html %} 

<a name="7"></a>
{% include 7.html %} 

<a name="8"></a>
{% include 8.html %} 

<a name="9"></a>
{% include 9.html %} 

<a name="9"></a>
{% include 10.html %} 
<hr>




<h2 align="center">हालसम्म नेपालभर विजयको विवरण(मेयर / प्रमुख)</h2>

<div class="row">

<div class="col-md-2">
	<img src="congress.jpg">

</div>

<div class="col-md-8">
	<div class="progress">
				  
		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:32.43243243%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			24
		</div>
</div>

<div class="row">

<div class="col-md-2">
	<img src="maoist.jpg">

</div>

<div class="col-md-8">
	<div class="progress">
				  
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:22.97297297%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			17
		</div>
</div>

<div class="row">

<div class="col-md-2">
	<img src="uml.jpg">

</div>

<div class="col-md-8">
	<div class="progress">
				  
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:40.54054054%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			30
		</div>
</div>

<div class="row">

<div class="col-md-2">
	
	अन्य
</div>

<div class="col-md-8">
	<div class="progress">
				  
		<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:4.054054054%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			3
		</div>
</div>

<hr>
<a name="data"></a> 
{% include data.html %}


<a name="candidate"></a> 
<h2 align="center">गलकोट नगरपालिकाका उम्मेदवारको सुची </h2>

<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>दल </th>
        <th>मेयर उम्मेदवार</th> 
        <th>उपमेयर उम्मेदवार</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="congress.jpg"></td>
        <td>नेपाली कांग्रेस</td>
        <td>भरत शर्मा गैरे</td>
        <td>रेणु काउचा</td>
      </tr>

      <tr>
      	<td>
      		<img src="uml.jpg">
      	</td>

      	<td>राष्ट्रिय जनमोर्चा/एमाले</td>
      	<td>टंकबहादुर केसी</td>
      	<td>रत्ना भण्डारी</td>

      </tr>

      


	<tr>
      	<td>
      		<img src="maoist.jpg">
      	</td>

      	<td>माओवादी केन्द्र</td>
      	<td>फमलाल निउरे</td>
      	<td>ललिता थापा</td>

      </tr>

      <tr>
        <td>
          <img src="naya.jpg">
        </td>

        <td>नया शक्ति </td>
        <td>बम तमु</td>
        <td></td>

      </tr>

     </tbody>
  </table>




 <div class="fb-like" data-href class="post-link" href="/election" {{ post.url }} data-width="300px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" >
  </div>
		 	 
		 	 <div class="fb-save" data-uri="/election" data-size="small"></div>
		 

<div class="fb-comments" data-href="https://ourgalkot.com/election" data-width="auto" data-numposts="5"></div>
		 	 

<div class="abc">
<figure class="op-interactive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/1cStUjjGXOs" frameborder="0" allowfullscreen></iframe>
</figure>
</div>

<br>
note: data herein have been adapted from Hello Galkot, Galkot Municipality's social network page. Data are tried to update as accurate as possible, but we don't guarantee this.
			<h4>
	Follow Us for more updates
</h4>
				<div class="fb-page" data-href="https://www.facebook.com/golkot/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/golkot/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/golkot/">Galkot</a></blockquote></div>


<br>
<small>

we don't own any copyrights!
</small>


<hr>
Latest posts from Galkot


{% for post in site.posts limit: 3 %}

    {% if post.feature == true %}
      
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="font-size: 35px;">
 {{ post.title }}</a>
        


      <div>
        <a href="{{ post.url | prepend: site.baseurl }}"></a>

      </div>  
     
      <hr>
        <p>



      
 

      {% endif %}
    {% endfor %}


{% include footer.html %}


</div> 



<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '293571141079302',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '293571141079302',
      xfbml      : true,
      version    : 'v2.7'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1818420668418075";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80349342-5', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
