
<div class="row">
<div class="col-md-6">
<div class="alert alert-warning">

<h2 align="center"> गल्कोट न. पा ४ नगर प्रमुख   </h2>




<div class="row">

	<div class="col-md-2">
		<img src="congress.jpg"><b>विजयी</b>
	</div>

	<div class="col-md-3">
	<b>Nepali Congress</b>
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:65.63146998%">
						    <b>विजयी</b>
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			<b>317</b>
		</div>
</div>

<br>


<div class="row">
	<div class="col-md-2">
		<img src="uml.jpg">
	</div>
	<div class="col-md-3">
	UML/Janamorcha
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:7.867494824%">
						    
						  </div>
				</div>

				
		</div>

		<div class="col-md-1">
					38
				</div>
</div>



<br>

<div class="row">
	<div class="col-md-2">
		<img src="maoist.jpg">
	</div>
	<div class="col-md-3">
	CPN Maoist Centre
	</div>

		<div class="col-md-2">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:26.08695652%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			126
		</div>
</div>
 
<br>


<div class="row">
	<div class="col-md-2">
		<img src="naya.jpg">
	</div>
	<div class="col-md-3">
	Naya Shakti
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:0.4140786749%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			2
		</div>
</div>
</div>
</div>

<div class="col-md-6">
<div class="alert alert-success">

<br>

<h2 align="center">गल्कोट न. पा ४ उपनगर प्रमुख</h2>

<div class="row">

	<div class="col-md-2">
		<img src="congress.jpg"><b>विजयी</b>
	</div>

	<div class="col-md-3">
	<b>Nepali Congress</b>
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:65.2892562%">
						    <b>विजयी</b>
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			<b>316</b>
		</div>
</div>

<br>


<div class="row">
	<div class="col-md-2">
		<img src="uml.jpg">
	</div>
	<div class="col-md-3">
	UML/Janamorcha
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:7.438016529%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			36
		</div>
</div>



<br>

<div class="row">
	<div class="col-md-2">
		<img src="maoist.jpg">
	</div>
	<div class="col-md-3">
	CPN Maoist Centre
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:27.27272727%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			 132
		</div>
</div>
 
<br>


<div class="row">
	<div class="col-md-2">
		<img src="naya.jpg">
	</div>
	<div class="col-md-3">
	Naya Shakti
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:0%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			 
		</div>
</div>

</div>
</div>
</div>