<hr>
<br>

<div class="row">
<div class="col-md-6">
<div class="alert alert-danger">
<h2 align="center"> गल्कोट न. पा ६ नगर प्रमुख   </h2>




<div class="row">

	<div class="col-md-2">
		<img src="congress.jpg">
	</div>

	<div class="col-md-3">
	Nepali Congress
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:21.45454545%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			184
		</div>
</div>

<br>


<div class="row">
	<div class="col-md-2">
		<img src="uml.jpg">
	</div>
	<div class="col-md-3">
	UML/Janamorcha
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:21.45454545%">
						    
						  </div>
				</div>

				
		</div>

		<div class="col-md-1">
					177
				</div>
</div>



<br>

<div class="row">
	<div class="col-md-2">
		<img src="maoist.jpg"><b>विजयी</b>
	</div>
	<div class="col-md-3">
	<b>CPN Maoist Centre</b>
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:56.96969697%">
						    <b>विजयी</b>
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			<b>470</b>
		</div>
</div>
 
<br>


<div class="row">
	<div class="col-md-2">
		
	</div>
	<div class="col-md-3">
	स्वतन्त्र 
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:0.1212121212%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			1
		</div>
</div>

</div>
</div>

<div class="col-md-6">
<div class="alert alert-info">

<h2 align="center">गल्कोट न. पा ६ उपनगर प्रमुख</h2>

<div class="row">

	<div class="col-md-2">
		<img src="congress.jpg">
	</div>

	<div class="col-md-3">
	Nepali Congress
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:25.6097561%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			206
		</div>
</div>

<br>


<div class="row">
	<div class="col-md-2">
		<img src="uml.jpg">
	</div>
	<div class="col-md-3">
	UML/Janamorcha
	</div>

		<div class="col-md-3">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:19.87804878%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			163
		</div>
</div>



<br>

<div class="row">
	<div class="col-md-2">
		<img src="maoist.jpg"><b>विजयी</b>
	</div>
	<div class="col-md-3">
	<b>CPN Maoist Centre</b>
	</div>

		<div class="col-md-7">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:54.51219512%">
						    <b>विजयी</b>
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			 <b>447</b>
		</div>
</div>
 
<br>


<div class="row">
	<div class="col-md-2">
		<img src="naya.jpg">
	</div>
	<div class="col-md-3">
	Naya Shakti
	</div>

		<div class="col-md-7">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:0%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			 
		</div>
</div>

</div>
</div>
</div>