<h2 align="center">गल्कोट न. पा १ पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>

      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>congress</td>
     
        <td>535</td>
        <td>566</td>
        <td>615</td>
        <td>591</td>
        <td>598</td>
        <td>567</td>
        <td>539</td>
        

      </tr>

      <tr><b>
                <td>uml विजयी</td>
        <td>718</td>
        <td>740</td>
        <td>664</td>
        <td>770</td>
        <td>751</td>
        <td>744</td>
        <td>789</td>
        </b>

      </tr>

      <tr>
        
        <td>maoist</td>
        <td>86</td>
        <td>117</td>
        <td>60</td>
        <td>73</td>
        <td>66</td>
        <td>80</td>
        <td>68</td>
        

      </tr>
      <tr>
       
        <td>naya shakti</td>
      
        <td>92</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
</tbody>
</table>


<hr>

<br>
<h2 align="center">गल्कोट न. पा २ पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>

      </tr>
    </thead>
    <tbody>
      <tr>
   <b>
        <td>congress विजयी</td>
     
        <td>545</td>
        <td>435</td>
        <td>425</td>
        <td>418</td>
        <td>424</td>
        <td>431</td>
        <td>439</td>
        </b>

      </tr>

      <tr>
       
        <td>uml</td>
        <td>301</td>
        <td>404</td>
        <td>379</td>
        <td>370</td>
        <td>373</td>
        <td>346</td>
        <td>318</td>
        

      </tr>

      <tr>
               <td>maoist</td>
        <td>259</td>
        <td>264</td>
        <td>225</td>
        <td>312</td>
        <td>313</td>
        <td>343</td>
        <td>314</td>
        

      </tr>
      <tr>
        
        <td>naya shakti</td>
      
        <td>3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
</tbody>
</table>
<br>
<hr>



<h2 align="center">गल्कोट न. पा ३ पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <b>
        <td>congress विजयी</td>
     
        <td>667</td>
        <td>679</td>
        <td>701</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
</b>
      </tr>

      <tr>
      
        <td>uml</td>
        <td>181</td>
        <td>133</td>
        <td>114</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>

      <tr>
        
        <td>maoist</td>
        <td>215</td>
        <td>267</td>
        <td>257</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
      <tr>
        
        <td>naya shakti</td>
      
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
</tbody>
</table>


<h2 align="center">गल्कोट न. पा ४ पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 


<br>

खसेका कुल १५१४ मत मध्ये ७१ वटा मत पुर्ण बदर भएका छन भने १४४३ मतहरु गणना गरिएको थियो ।
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <b>
        <td>congress विजयी</td>
     
        <td>317</td>
        <td>316</td>
        <td>254</td>
        <td>295</td>
        <td>306</td>
        <td>297</td>
        <td>296</td>
        </b>

      </tr>

      <tr>
      
        <td>UML</td>
        <td>38</td>
        <td>37</td>
        <td>25</td>
        <td>31</td>
        <td>45</td>
        <td>41</td>
        <td>45</td>
        

      </tr>

      <tr>
        
        <td>maoist</td>
        <td>126</td>
        <td>132</td>
        <td>175</td>
        <td>147</td>
        <td>128</td>
        <td>127</td>
        <td>119</td>
        

      </tr>
      <tr>
        
        <td>naya shakti</td>
      
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
</tbody>
</table>

<h2 align="center">गल्कोट न. पा ५ पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <b>
        <td>congress विजयी</td>
     
        <td>184</td>
        <td>206</td>
        <td>212</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </b>

      </tr>

      <tr>
      
        <td>UML</td>
        <td>91</td>
        <td>97</td>
        <td>95</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>

      <tr>
        
        <td>CPN M</td>
        <td>103</td>
        <td>78</td>
        <td>81</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
      <tr>
        
        <td>naya shakti</td>
      
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
</tbody>
</table>

<h2 align="center">गल्कोट न. पा 7 पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <b>
        <td>congress</td>
     
        <td>273</td>
        <td>280</td>
        <td>320</td>
        <td>319</td>
        <td>310</td>
        <td>304</td>
        <td>300</td>
        </b>

      </tr>

      <tr>
      
        <td>UML</td>
        <td>272</td>
        <td>191</td>
        <td>182</td>
        <td>209</td>
        <td>210</td>
        <td>197</td>
        <td>213</td>
        

      </tr>

      <tr>
        
        <td>CPN Maoist विजयी</td>
        <td>258</td>
        <td>381</td>
        <td>391</td>
        <td>335</td>
        <td>339</td>
        <td>341</td>
        <td>318</td>
        

      </tr>
      <tr>
        
        <td>Others</td>
      
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
</tbody>
</table>

<h2 align="center">गल्कोट न. पा ८ पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <b>
        <td>Congress विजयी</td>
     
        <td>444</td>
        <td>498</td>
        <td>532</td>
        <td>487</td>
        <td>485</td>
        <td>491</td>
        <td>503</td>
        </b>

      </tr>

      <tr>
      
        <td>UML</td>
        <td>337</td>
        <td>240</td>
        <td></td>
        <td>477</td>
        <td>482</td>
        <td>468</td>
        <td></td>
        

      </tr>

      <tr>
        
        <td>CPN M</td>
        <td>225</td>
        <td>260</td>
        <td>421</td>
        <td></td>
        <td></td>
        <td>436</td>
        <td>16</td>
        

      </tr>
      <tr>
        
        <td>Others</td>
      
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
</tbody>
</table>

<h2 align="center">गल्कोट न. पा ९ पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <b>
        <td>Congress</td>
     
        <td>518</td>
        <td>556</td>
        <td>572</td>
        <td>559</td>
        <td>561</td>
        <td>518</td>
        <td>556</td>
        </b>

      </tr>

      
      <tr>
        
        <td>CPN M</td>
        <td>60</td>
        <td>77</td>
        <td>48</td>
        <td>53</td>
        <td>58</td>
        <td>48</td>
        <td>35</td>
        

      </tr>
      <tr>

       <tr>
        
        <td>UML</td>
        <td>393</td>
        <td>337</td>
        <td>355</td>
        <td>343</td>
        <td>341</td>
        <td>399</td>
        <td>342</td>
        

      </tr>
      
</tbody>
</table>


<h2 align="center">गल्कोट न. पा १० पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <b>
        <td>Congress</td>
     
        <td>705</td>
        <td>712</td>
        <td>691</td>
        <td>699</td>
        <td>690</td>
        <td>654</td>
        <td>658</td>
        </b>

      </tr>

      
      <tr>
        
        <td>CPN M</td>
        <td>181</td>
        <td>178</td>
        <td>351</td>
        <td>357</td>
        <td>344</td>
        <td>376</td>
        <td>346</td>
        

      </tr>
      <tr>

       <tr>
        
        <td>UML</td>
        <td>147</td>
        <td>133</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>

      <tr>
        
        <td>Naya Shakti</td>
        <td>4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
      
</tbody>
</table>

<h2 align="center">गल्कोट न. पा ११ पूर्ण तथ्यांक</h2>
म.स : महिला सदस्य,
द.स : दलित,
वडा अध्यक्ष
स : सदस्य 
<table class="table table-hover table-bordered">
    <thead>
      <tr>
     
        <th></th>
        <th>प्रमुख </th>
        <th>उपप्रमुख </th>
        <th>अध्यक्ष </th>
        <th>म.स</th>
        <th>द.स </th>
        <th>स.१ </th>
        <th>स.२ </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <b>
        <td>Congress</td>
     
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </b>

      </tr>

      
      <tr>
        
        <td>CPN M</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
      <tr>

       <tr>
        
        <td>UML</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>

      <tr>
        
        <td>Naya Shakti</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

      </tr>
      
</tbody>
</table>