


<div class="row" style="background-color: #D3D3D9;">

  <div class="wrapper">

    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <h4>Our Galkot Team</h4>
            <li><b>लेखक</b></li> 
            <li>प्रकाश थापा</li><br>
            <li><b>फोटोग्राफर</b></li>
            <li>सागर बस्नेत</li>
          <br>
          <li><b>जापान</b></li>
          
          <li>खगराज गौतम</li> 
            <br>
            <li><b>सम्पादक</b></li>
             <li>लक्ष्मण बस्नेत</li><br>

           <li><b>सल्लाहकार</b></li>
          <li>डा. दिन बहादुर थापा</li>
          <li>बिष्णु खत्री</li><br>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      <ul class="social-media-list">
          <h4>Quick Navigation</h4>


          {% for my_page in site.pages %}
          
          {% if my_page.title != 404 %}
          <li> 
          <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a> </li>{% endif %}
        
        {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
      <h4>सामाजिक सन्जाल </h4>
        
        <p align="center">
        <a href="https://facebook.com/golkot" target="blank"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>&nbsp;
          <a href="https://youtube.com/Galkot" target="blank"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a> &nbsp;
         <a href="https://instagram.com/galkot_baglung" target="blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>&nbsp;
         <a href="https://twitter.com/officialGalkot" target="blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a> &nbsp;
        <a href="https://telegram.me/galkot" target="blank"><i class="fa fa-telegram fa-3x" aria-hidden="true"></i></a>&nbsp;
       



      </p>

      </div>


       <div class="footer-col footer-col-4">
       <h4>Contact Us</h4>
       <div class="site-title" style="font-size: 24px;">{{ site.title }}</div>
       <ul class="social-media-list">
       <li>Galkot</li>
       <li>Baglung, Dhawalagiri Nepal</li>
       <li>Email: <a href="mailto:bgalkot@gmail.com">bgalkot@gmail.com</a></li>
       <li>Web: www.ourgalkot.com</li>
       <li>Facebook Chat: <a href="https://m.me/golkot"><i class="fa fa-comments-o" aria-hidden="true"></i></a></li>
       </ul>
    </div>

  </div>
  </div>






<div class="footerbottom">

  <div class="footer-col-wrapper" style="color: white; text-align: center; margin-top: 8px; ">
  <div class="footer-col footer-col-1">
 © २०१६-२०१७  Ourgalkot.com सर्वाधिकार सुरक्षित
</div>
<div class="footer-col footer-col-3">
<a href='http://www.hit-counts.com'><img src='http://www.hit-counts.com/counter.php?t=MTQxNDQzNw==' border='1' alt='Web Counter'></a></div>
  <div class="footer-col footer-col-4">
    <small>site crafted by</small> lakshman 
  </div>
    
  </div>
 
 </div>

  
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '293571141079302',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '293571141079302',
      xfbml      : true,
      version    : 'v2.7'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1818420668418075";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80349342-5', 'auto');
  ga('send', 'pageview');

</script>









<script>
/* second CSS File */
var giftofspeed0 = document.createElement('link'); 
giftofspeed0.rel = 'stylesheet';
giftofspeed0.href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
giftofspeed0.type = 'text/css'; 
var godefer0 = document.getElementsByTagName('link')[0]; 
godefer0.parentNode.insertBefore(giftofspeed0, godefer0);
</script>




<script>
/* third CSS File */
var giftofspeed3 = document.createElement('link'); 
giftofspeed3.rel = 'stylesheet';
giftofspeed3.href = '/css/main.css';
giftofspeed3.type = 'text/css'; 
var godefer3 = document.getElementsByTagName('link')[0]; 
godefer3.parentNode.insertBefore(giftofspeed3, godefer3);
</script>

<script>
/* fourth CSS File */
var giftofspeed4 = document.createElement('link'); 
giftofspeed4.rel = 'stylesheet';
giftofspeed4.href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
giftofspeed4.type = 'text/css'; 
var godefer4 = document.getElementsByTagName('link')[0]; 
godefer4.parentNode.insertBefore(giftofspeed4, godefer4);
</script>



<script>
/* fifth CSS File */
var giftofspeed5 = document.createElement('link'); 
giftofspeed5.rel = 'stylesheet';
giftofspeed5.href = 'https://fonts.googleapis.com/css?family=Sahitya';
giftofspeed5.type = 'text/css'; 
var godefer5 = document.getElementsByTagName('link')[0]; 
godefer5.parentNode.insertBefore(giftofspeed5, godefer5);
</script>


<script>
/* sixth CSS File */
var giftofspeed6 = document.createElement('link'); 
giftofspeed6.rel = 'stylesheet';
giftofspeed6.href = 'https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css';
giftofspeed6.type = 'text/css'; 
var godefer6 = document.getElementsByTagName('link')[0]; 
godefer6.parentNode.insertBefore(giftofspeed6, godefer6);
</script>


<script>
/* sixth CSS File */
var giftofspeed7 = document.createElement('link'); 
giftofspeed7.rel = 'stylesheet';
giftofspeed7.href = 'https://fonts.googleapis.com/css?family=Yantramanav:300';
giftofspeed7.type = 'text/css'; 
var godefer7 = document.getElementsByTagName('link')[0]; 
godefer7.parentNode.insertBefore(giftofspeed7, godefer7);
</script>

