<div class="row">
<div class="col-md-6">
<div class="alert alert-success">
<h2 align="center">गल्कोट न. पाको मेयरको मतगणना विवरण </h2>

<div class="row">
<br>
	<div class="col-md-2">
		<img src="congress.jpg"><b>विजयी</b>
	</div>
<a name="1"></a> 
	<div class="col-md-4">
	<b>भरत शर्मा गैरे</b>
	</div>

		<div class="col-md-4">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:48.30909846%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			<b>5814</b>
		</div>
</div>

<br>


<div class="row">
	<div class="col-md-2">
		<img src="uml.jpg">
	</div>
	<div class="col-md-4">
टंकबहादुर केसी
	</div>

		<div class="col-md-4">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:27.93518903%">
						    
						  </div>
				</div>

				
		</div>

		<div class="col-md-1">
					3362
				</div>
</div>



<br>

<div class="row">
	<div class="col-md-2">
		<img src="maoist.jpg">
	</div>
	<div class="col-md-4">
	फमलाल निउरे
	</div>

		<div class="col-md-4">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:22.76692979%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			2740
		</div>
</div>
 
<br>


<div class="row">
	<div class="col-md-2">
		<img src="naya.jpg">
	</div>
	<div class="col-md-4">
	बम गुरुङ
	</div>

		<div class="col-md-4">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:0.9887827171%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			119
		</div>
</div>
</div>

</div>
<div class="col-md-6">
<div class="alert alert-warning">
<h2 align="center">गल्कोट न. पाको उपमेयरको मतगणना विवरण </h2>

<div class="row">

	<div class="col-md-2">
		<img src="congress.jpg"><b>विजयी </b>
	</div>

	<div class="col-md-3">
		<b>रेनुका मगर</b>
	</div>
<a name="1"></a> 
	

		<div class="col-md-4">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:49.53301389%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			<b>6099</b>
		</div>
</div>

<br>


<div class="row">
	<div class="col-md-2">
		<img src="uml.jpg">
	</div>
	
		<div class="col-md-3">
			
		</div>

		<div class="col-md-4">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:27.23950296%">
						    
						  </div>
				</div>

				
		</div>

		<div class="col-md-1">
					3354
				</div>
</div>



<br>

<div class="row">
	<div class="col-md-2">
		<img src="maoist.jpg">
	</div>
	
<div class="col-md-3">
			
		</div>
		<div class="col-md-4">
				 <div class="progress">
				  
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
						  aria-valuemin="0" aria-valuemax="100" style="width:23.22748315%">
						    
						  </div>
				</div>
		</div>

		<div class="col-md-1">
			2860
		</div>
</div>
 
<br>


</div>

</div>
</div>
<br>
<hr>
