---
layout: post
title:  गल्कोट नगरपालिका २ मा नेपाली कांग्रेसका  हेमन्त भण्डारी  प्यानल विजयी
date:   2017-05-16 11:07:42 +0545
categories: election
description: गल्कोट नगरपालिका वाड नम्बर २ नरेठाटी Narethati बाट नेपाली कांग्रेसका हेमन्त भण्डारी को प्यानल विजयी भएको छ  ...| Galkot Municipality News, FM, Khabar, Information, Election, Local

author: Galkot
image: /assets/posts/hemanta.jpg
feature: true
---

<img src="/assets/posts/hemanta.jpg" alt="hemanta">

<br><br>

गल्कोट नगरपालिका वाड नम्बर २ नरेठाटी बाट नेपाली कांग्रेसका हेमन्त भण्डारी को प्यानल विजयी भएको छ !!

<a href="/election"> गल्कोट न. पा को मत परिणाम प्रतक्ष्य | Galkot's Live Result</a>

चित्र हरु लोड नभएमा पूर्ण तथ्यांक को लागि <a href="/election">यहा</a> थिच्नुहोस  

{% include 2.html %}

<br>

{% include data.html %}


