---
layout: compress
---


<!DOCTYPE html>
<html lang="ne">

  {% include head.html %}


  <body>

{% include fblike.html %}



  <div class="container">

    {% include header.html %}

  
  <div class="row">
    <div class="col-md-8">
          <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
          </div>
    </div>
<br><br>
  <div class="col-md-4">
  {% include sidebar.html %}
    
  </div>
  </div>
    {% include footer.html %}



</div>




  </body>

</html>
