---
layout: default
---



		<article class="post">

		  <header class="post-header">
		    <h1 class="post-title" align="middle">{{ page.title }}</h1>
		  </header>

		  <div class="post-content">
		    {{ content }}
		  </div>

		</article>

<br>
<p>
<h1>Galkot</h1> is a beautiful place in <b>Baglung</b> , Western part of Nepal. Galkot was one of the 22/24 states in the past, now it is a municipality named under <b>Galkot Municipality</b>. Home to thousands of people, <b>Galkot</b> is rich with natural beauty, flora and fauna, landscapes, people and lifestyle, customs, languages, culture, and more. Galkot is developing quickly as one of the best <b>tourism destination</b> in Western Nepal.</p>

Here in this website you can get information regarding tourism in Galkot, infrastructures here, hotels, schools, colleges, Galkot Durbar, hospitals and more operating here, latest good news from Galkot, galkot khabar and videos, panche baja songs, photos from Galkot.

Also you can listen Galkot FM Live. :)